/*
  App
 */
:root {
  --prompt-width: 50px;
  --cell-placeholder-opacity: 0.3;
}

#app {
  padding-top: 20px;
}

@keyframes fadeOut {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
}

div#loading {
  animation-name: fadeOut;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}

/*
  Globals
 */

pre
{
    font-size: 14px;
    line-height: 1.21429em;

    word-wrap: break-word;
}

body
{
    font-family: 'Source Sans Pro';
    font-size: 16px;
    line-height: 22px;
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
}

img
{
    display: block;
    max-width: 100%;

    margin-right: auto;
    margin-left: auto;
}

th,
td {
    padding: 0.5em 1em;
    border: 1px solid var(--primary-border);
}

/*
  Notebook
 */

.notebook {
    paddingTop: 10px;
    paddingLeft: 10px;
    paddingRight: 10px;
}

/*
  Cell
 */

.draggable-cell {
    position: relative;
    padding: 10px;
}

.cell-drag-handle
{
    position: absolute;
    z-index: 200;
    width: var(--prompt-width);
    height: 100%;
    cursor: move;
}

.cell {
    position: relative;
    background: var(--cell-bg);
    transition: all .1s ease-in-out;
}

.cell:hover {
    box-shadow: 1px 1px 3px rgba(0,0,0,.12), -1px -1px 3px rgba(0,0,0,.12);
}

.cell.focused {
    box-shadow: 3px 3px 9px rgba(0,0,0,.12), -3px -3px 9px rgba(0,0,0,.12);
}

.cell:hover .prompt,
.cell:active .prompt
{
    background-color: var(--cell-bg-hover);
}


.cell:focus .prompt,
.cell.focused .prompt
{
    background-color: var(--cell-bg-focus);
}

.cell-toolbar-mask
{
    position: absolute;
    top: -37px;
    right: -5px;
    z-index: 99;
    height: 34px;

    /* Set the left padding to 50px to give users extra room to move their
    mouse to the toolbar without causing the cell to go out of focus and thus
    hide the toolbar before they get there. */
    padding: 5px 5px 0px 50px;
}

.cell-toolbar
{
    display: inline-box;
    background: var(--toolbar-bg);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.50);
}

.cell-toolbar button
{
    display: inline-block;

    width: 22px;
    height: 20px;
    padding: 0px 4px;

    text-align: center;

    border: none;
    outline: none;
    background: none;
}

.cell-toolbar button span
{
    font-size: 15px;
    line-height: 1;

    color: var(--toolbar-button);
}

.cell-toolbar button span:hover
{
    color: var(--toolbar-button-hover);
}

.cell.text .rendered
{
    padding: 10px 10px 10px var(--prompt-width);
    outline: none;
}

.cell-placeholder {
    text-align: center;
    color: var(--main-fg-color);
    padding: 10px;
    opacity: var(--cell-placeholder-opacity);
}

.sticky-cell-container {
    background: var(--main-bg-color);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.50);

    top: 0px;
    position: fixed;
    z-index: 300;
    width: 100%;
    max-height: 50%;

    padding-bottom: 10px;
    padding-top: 20px;
    overflow: auto;
}

.sticky-cell-container:empty {
    display: none;
}

.pagers
{
    padding: 10px var(--prompt-width) 10px var(--prompt-width);
    background-color: var(--pager-bg);
    word-wrap: break-word;
}

.cell-widget-area {
    padding-left: var(--prompt-width);
    padding-top: 10px;
}

.outputs>div
{
    word-wrap: break-word;
    padding: 10px 10px 10px calc(var(--prompt-width) + 10px);
}

.outputs>div:empty
{
    display:none;
}

.cell .input-container
{
    display: flex;
    flex-direction: row;
}

.cell .prompt
{
    font-family: monospace;
    font-size: 12px;

    width: var(--prompt-width);
    padding: 9px 0;

    text-align: center;

    color: var(--input-color);
    background-color: var(--pager-bg);

    flex: 0 0 auto;
}

.cell .input-container .input
{
    flex: 1 1 auto;
    overflow: auto;
}

.creator-hover-mask {
  display: block;
  position: relative;
  overflow: visible;
  height: 0px;
}

.creator-hover-region {
  display: flex;
  position: relative;
  overflow: visible;
  top: -30px;
  height: 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.cell-creator {
  display: inline-block;
  background: var(--main-bg-color);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.50);
  margin-top: -15px;
  pointer-events: all;
}

.cell-creator button
{
  display: inline-block;

  width: 22px;
  height: 20px;
  padding: 0px 4px;

  text-align: center;

  border: none;
  outline: none;
  background: none;
}

.cell-creator button span
{
  font-size: 15px;
  line-height: 1;

  color: var(--toolbar-button);
}

.cell-creator button span:hover
{
  color: var(--toolbar-button-hover);
}

code {
  font-family: 'Source Code Pro';
  white-space: pre-wrap;
  font-size: 14px;
}

/*
    Codemirror
 */

.CodeMirror
{
    font-family: 'Source Code Pro';
    font-size: 14px;
    line-height: 20px;

    height: auto;

    background: none;
}

.CodeMirror-cursor
{
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: var(--cm-color);
}

.CodeMirror-scroll
{
    overflow-x: auto;
    overflow-y: hidden;
}

.CodeMirror-lines
{
    padding: .4em;
}

.CodeMirror-linenumber
{
    padding: 0 8px 0 4px;
}

.CodeMirror-gutters
{
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.CodeMirror pre
{
    padding: 0;

    border: 0;
    border-radius: 0;
}

.cm-s-composition.CodeMirror {
	font-family: 'Source Code Pro', monospace;
	letter-spacing: 0.3px;
	word-spacing: 1px;
	background: var(--cm-background);
	color: var(--cm-color);
}
.cm-s-composition .CodeMirror-lines {
  padding: 10px;
}
.cm-s-composition .CodeMirror-gutters {
	box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
	background-color: var(--cm-gutter-bg);
	padding-right: 10px;
	z-index: 3;
	border: none;
}

.cm-s-composition span.cm-comment { color: var(--cm-comment) }
.cm-s-composition span.cm-keyword { line-height: 1em; font-weight: bold; color: var(--cm-keyword); }
.cm-s-composition span.cm-string { color: var(--cm-string); }
.cm-s-composition span.cm-builtin { line-height: 1em; font-weight: bold; color: var(--cm-builtin); }
.cm-s-composition span.cm-special { line-height: 1em; font-weight: bold; color: var(--cm-special); }
.cm-s-composition span.cm-variable { color: var(--cm-variable); }
.cm-s-composition span.cm-number, .cm-s-composition span.cm-atom { color: var(--cm-number); }
.cm-s-composition span.cm-meta { color: var(--cm-meta); }
.cm-s-composition span.cm-link { color: var(--cm-link); }
.cm-s-composition span.cm-operator { color: var(--cm-operator); }
.cm-s-composition span.cm-def { color: var(--cm-def); }
.cm-s-composition .CodeMirror-activeline-background { background: var(--cm-activeline-bg); }
.cm-s-composition .CodeMirror-matchingbracket { outline:1px solid var(--cm-matchingbracket-outline); color: var(--cm-matchingbracket-color) !important; }

/* Overwrite some of the hint Styling */

.CodeMirror-hints {

  -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  -moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  border-radius: 0px;
  border: none;
  padding:0;

  background: var(--cm-hint-bg);
  font-size: 90%;
  font-family: 'Source Code Pro', monospace;

  overflow-y: auto;
}

.CodeMirror-hint {
  border-radius: 0px;
  max-width: 19em;
  white-space: pre;
  cursor: pointer;
  color: var(--cm-hint-color);
}

li.CodeMirror-hint-active {
  background: var(--cm-hint-bg-active);
  color: var(--cm-hint-color-active);
}

/*
Widgets
 */
 :root {
  --widgets-description-width: 100px;
  --widgets-description-padding: 2px;
  --widgets-default-margin: 2px;
  --widgets-default-width: 250px;
  --widgets-default-height: 25px;
  --widgets-default-lineheight-offset: 2px;
  --widgets-text-voffset: 2px;
  --widgets-text-bg: var(--cm-background);
  --widgets-text-color: var(--cm-color);
  --widgets-button-minwidth: 100px;
  --widgets-button-bg: var(--toolbar-bg);
  --widgets-button-border: 1px solid var(--toolbar-button);
  --widgets-button-color: var(--toolbar-button);
  --widgets-button-bg-hover: var(--toolbar-bg);
  --widgets-button-border-hover: 1px solid var(--toolbar-button-hover);
  --widgets-button-color-hover: var(--toolbar-button-hover);
  --widgets-togglebutton-bg-active: var(--cm-activeline-bg);
  --widgets-togglebutton-bg-active-hover: var(--cm-activeline-bg);
  --widgets-dropdown-toggle-width: 25px;
  --widgets-container-border: var(--widgets-button-border);
  --widget-invalid-color: red;
  --widget-valid-color: lime;
  --widget-progress-bg: var(--cm-background);
  --widget-progress-color: var(--cm-activeline-bg);
  --widget-slider-slide-bg: var(--widgets-text-bg);
  --widget-slider-slide-height: 2px;
  --widget-slider-slide-border: none;
  --widget-slider-readout-width: 80px;
  --widget-slider-readout-padding: var(--widgets-description-padding);
  --widget-slider-handle-size: 10px;
  --widget-slider-handle-radius: 4px;
  --widget-slider-range-bg: var(--widgets-togglebutton-bg-active);
  --widget-slider-range-height: var(--widget-slider-handle-size);
}

.cell-widget-area .widget-hprogress .progress {
  display: inline-block;
  background: var(--widget-progress-bg);
  width: var(--widgets-default-width);
  height: var(--widgets-default-height);
}

.cell-widget-area .widget-hprogress .progress .progress-bar {
  display: block;
  background: var(--widget-progress-color);
}

.cell-widget-area .widget-hbox {
  display: flex;
}

.cell-widget-area .widget-label {
  color: var(--main-fg-color);
  display: flex;
  text-align: end;
  width: var(--widgets-description-width);
  margin-right: var(--widgets-description-padding);
  line-height: var(--widgets-default-height);
}

.cell-widget-area .widget-text,
.cell-widget-area .widget-valid,
.cell-widget-area .widget-latex,
.cell-widget-area .widget-hprogress,
.cell-widget-area .widget-numeric-text,
.cell-widget-area .widget-colorpicker,
.cell-widget-area .widget-textarea,
.cell-widget-area .widget-radio,
.cell-widget-area .widget-select,
.cell-widget-area .widget-select-multiple,
.cell-widget-area .widget-textarea,
.cell-widget-area .widget-dropdown,
.cell-widget-area .widget-html,
.cell-widget-area .widget-button,
.cell-widget-area .widget-toggle-button,
.cell-widget-area .widget-toggle-buttons,
.cell-widget-area .jupyter-widgets.panel-group,
.cell-widget-area .widget-checkbox,
.cell-widget-area .widget-hslider
{
  margin: var(--widgets-default-margin);
}

.cell-widget-area .widget-text input,
.cell-widget-area .widget-numeric-text input,
.cell-widget-area .widget-colorpicker input[type=text],
.cell-widget-area .widget-textarea textarea,
.cell-widget-area .widget-select-multiple select,
.cell-widget-area .widget-select select
{
  width: var(--widgets-default-width);
  line-height: var(--widgets-default-height);
  background: var(--widgets-text-bg);
  color: var(--widgets-text-color);
  border: none;
}

.cell-widget-area .widget-text input,
.cell-widget-area .widget-colorpicker input[type=text],
.cell-widget-area .widget-numeric-text input
{
  height: calc(var(--widgets-default-height) - var(--widgets-text-voffset));
  padding-bottom: var(--widgets-text-voffset);
}

.cell-widget-area button.widget-button,
.cell-widget-area button.widget-toggle-button,
.cell-widget-area .widget-toggle-buttons button,
.cell-widget-area .widget-dropdown button,
.cell-widget-area .jupyter-widgets.panel-group .panel-heading a,
.cell-widget-area .nav-tabs a,
.cell-widget-area .widget-hslider .slider-container .ui-slider-handle
{
  height: var(--widgets-default-height);
  background: var(--widgets-button-bg);
  color: var(--widgets-button-color);
  border: var(--widgets-button-border);
}

.cell-widget-area button.widget-button:hover,
.cell-widget-area button.widget-toggle-button:hover,
.cell-widget-area .widget-toggle-buttons button:hover,
.cell-widget-area .widget-dropdown button:hover,
.cell-widget-area .jupyter-widgets.panel-group .panel-heading a:hover,
.cell-widget-area .nav-tabs a:hover,
.cell-widget-area .widget-hslider .slider-container .ui-slider-handle
{
  background: var(--widgets-button-bg-hover);
  color: var(--widgets-button-color-hover);
  border: var(--widgets-button-border-hover);
}

.cell-widget-area button.widget-toggle-button.active,
.cell-widget-area .widget-toggle-buttons button.active,
.cell-widget-area .nav-tabs li.active a
{
  background: var(--widgets-togglebutton-bg-active);
}

.cell-widget-area button.widget-toggle-button.active:hover,
.cell-widget-area .widget-toggle-buttons button.active:hover,
.cell-widget-area .nav-tabs li.active a:hover
{
  background: var(--widgets-togglebutton-bg-active-hover);
}

.cell-widget-area .widget-radio .widget-radio-box {
 display: flex;
 flex-direction: column;
}

.cell-widget-area .widget-radio .widget-radio-box input {
 margin-right: var(--widgets-description-padding);
}

.cell-widget-area .widget-colorpicker input[type=text] {
  width: calc(var(--widgets-default-width) - var(--widgets-dropdown-toggle-width));
}

.cell-widget-area .widget-colorpicker input[type=color] {
  width: calc(var(--widgets-dropdown-toggle-width) - 2px);
  padding: 0px;
}

.cell-widget-area .widget-dropdown button.widget-combo-btn {
 line-height: normal;
 width: calc(var(--widgets-default-width) - var(--widgets-dropdown-toggle-width));
}

.cell-widget-area .widget-dropdown button.dropdown-toggle:after {
 content: "\f05b";
 font-family: 'octicons';
 font-weight: normal;
 font-style: normal;
 font-size: 9pt;
}

.cell-widget-area .widget-dropdown button.dropdown-toggle {
 padding-top: 0px;
 width: var(--widgets-dropdown-toggle-width);
}


.cell-widget-area .widget-dropdown .btn-group ul.dropdown-menu {
 display: none;
}

.cell-widget-area .widget-dropdown .btn-group.open ul.dropdown-menu {
 position: absolute;
 display:block;
width: var(--widgets-default-width);
 max-width: var(--widgets-default-width);
  line-height: var(--widgets-default-height);
  background: var(--widgets-text-bg);
  border: none;
  margin-top: 0px;
  list-style-type: none;
padding-left: 0px;
 -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
 -moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
 box-shadow: 2px 3px 5px rgba(0,0,0,.2);

}

.cell-widget-area .widget-dropdown .btn-group.open ul.dropdown-menu li a {
color: var(--widgets-text-color);
 text-decoration: none;
 display: block;
 width: 100%
}

.cell-widget-area .widget-dropdown .btn-group.open ul.dropdown-menu li:hover {
background: var(--widgets-button-bg-hover);
}

.cell-widget-area .widget-dropdown .btn-group.open ul.dropdown-menu li:hover a {
 color: var(--widgets-button-color-hover);
}

.cell-widget-area .jupyter-widgets.panel-group {
  display: inline-block;
  border-bottom: var(--widgets-container-border);
}

.cell-widget-area .jupyter-widgets.panel-group .panel-heading a {
  text-decoration: none;
}

.cell-widget-area .jupyter-widgets.panel-group .panel-collapse {
  display: none;
}

.cell-widget-area .jupyter-widgets.panel-group .panel-collapse.in {
  display: block;
}

.cell-widget-area .jupyter-widgets.panel-group .panel-heading a {
  text-decoration: none;
  display: block;
  height: calc(var(--widgets-default-height) - 2px);
  padding-left: var(--widgets-description-padding);
  padding-right: var(--widgets-description-padding);
}

.cell-widget-area .nav-tabs {
  display: flex;
  margin-top: var(--widgets-default-margin);
  margin-left: var(--widgets-default-margin);
  margin-right: var(--widgets-default-margin);
}

.cell-widget-area .nav-tabs a {
  text-decoration: none;
  display: inline-block;
  height: calc(var(--widgets-default-height) - 2px);
  padding-left: var(--widgets-description-padding);
  padding-right: var(--widgets-description-padding);
}

.cell-widget-area .tab-pane {
  display: none;
}

.cell-widget-area .tab-pane.in {
  display: inline-block;
  border-bottom: var(--widgets-container-border);
}

.cell-widget-area .widget-checkbox {
  height: var(--widgets-default-height);
}

.cell-widget-area .widget-checkbox .widget-label {
  width: initial;
}

.cell-widget-area .widget-checkbox input {
  margin-top: 6px;
  margin-right: var(--widgets-description-padding);
}

.cell-widget-area .widget-valid i:after {
 font-family: 'octicons';
 font-weight: normal;
 font-style: normal;
 font-size: 9pt;
}

.cell-widget-area .widget-valid i.fa-check:after {
 content: "\f03a";
 color: var(--widget-valid-color);
}

.cell-widget-area .widget-valid {
 color: var(--widget-invalid-color);
}

.cell-widget-area .widget-valid i.fa-close:after {
 content: "\f081";
 margin-right: var(--widgets-description-padding);
}

.cell-widget-area .widget-hslider .slider-container {
  display: flex;
  height: var(--widget-default-height);
  padding-right: 5px
}

.cell-widget-area .widget-hslider .slider-container .ui-slider {
  display: block;
  width: calc(var(--widgets-default-width) - var(--widget-slider-readout-width));
  background: var(--widget-slider-slide-bg);
  height: var(--widget-slider-slide-height);
  border: var(--widget-slider-slide-border);
  padding-left: calc(var(--widget-slider-handle-size)/2);
  margin: auto;
  overflow: visible;
}

.cell-widget-area .widget-hslider .slider-container .ui-slider-handle {
  position: relative;
  display: block;
  margin-top: calc(var(--widget-slider-handle-size)/-2);
  margin-left: calc(var(--widget-slider-handle-size)/-2);
  width: var(--widget-slider-handle-size);
  height: var(--widget-slider-handle-size);
  border-radius: var(--widget-slider-handle-radius);
  z-index: 2;
  top: 0px;
}
.cell-widget-area .widget-hslider .slider-container .ui-slider-handle:nth-child(3) {
  top: -2px;
}
.cell-widget-area .widget-hslider .slider-container .ui-slider-range {
  height: var(--widget-slider-range-height);
  top: -1px;
  margin-top: calc(-1*var(--widget-slider-handle-size));
  margin-bottom: calc(-1*var(--widget-slider-handle-size));
  position: relative;
  display: block;
  z-index: 1;
  background: var(--widget-slider-range-bg);
}

.cell-widget-area .widget-hslider .widget-readout {
  width: var(--widget-slider-readout-width);
  padding-left: var(--widget-slider-readout-padding);
}
