:root {
  --main-bg-color: #8c0000;
  --main-fg-color: rgb(51,51,51);

  --primary-border: #cbcbcb;

  --cell-bg: white;
  --cell-bg-hover: #eeedee;
  --cell-bg-focus: #E87D7D;

  --toolbar-bg: rgba(255,255,255,.3);
  --toolbar-button: #aaa;
  --toolbar-button-hover: #555;

  --dropdown-content: white;
  --dropdown-content-hover: rgb(210,210,210);

  --pager-bg: #fafafa;
  --input-color: #8c8a8e;

  --cm-background: #fafafa;
  --cm-color: black;

  --cm-gutter-bg: white;

  --cm-comment: #a86;
  --cm-keyword: darkred;
  --cm-string: #a22;
  --cm-builtin: #059E3E;
  --cm-special: #0aa;
  --cm-variable: black;
  --cm-number: #3a3;
  --cm-meta: #555;
  --cm-link: #3a3;
  --cm-background: #F7D6D6;

  --cm-activeline-bg: #e8f2ff;
  --cm-matchingbracket-outline: grey;
  --cm-matchingbracket-color: black;

  --cm-hint-bg: white;
  --cm-hint-bg-active: #E87D7D;
}

body {
  animation: snow 5s infinite;
  background-image: url('./christmas/s1.png'), url('./christmas/s2.png'), url('./christmas/s3.png');
  animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
