:root {
  --main-bg-color: #1b2a3e;
  --main-fg-color: #edf3f7;

  --primary-border: #495F7D;

  --cell-bg: #334863;
  --cell-bg-hover: var(--primary-border);
  --cell-bg-focus: #5e7697;

  --toolbar-bg: #fff;
  --toolbar-button: #aaa;
  --toolbar-button-hover: var(--cell-bg);

  --dropdown-content: var(--main-bg-color);
  --dropdown-content-hover: var(--cm-background);

  --pager-bg: #354a66;
  --input-color: #fafafa;

  --cm-background: #23354C;
  --cm-color: rgba(255,255,255,0.4);

  --cm-gutter-bg: #777;

  --cm-comment: inherit;
  --cm-keyword: #43F3C5;
  --cm-string: #43d4f3;
  --cm-builtin: #FFF66E;
  --cm-special: #1abc9c;
  --cm-variable: inherit;
  --cm-number: #ff9bc6;
  --cm-meta: #95a5a6;
  --cm-link: var(--cm-keyword);
  --cm-operator: inherit;
  --cm-def: #D77BFB;

  --cm-activeline-bg: #e8f2ff;
  --cm-matchingbracket-outline: grey;
  --cm-matchingbracket-color: white;

  --cm-hint-color: var(--main-fg-color);
  --cm-hint-color-active: var(--cm-color);
  --cm-hint-bg: var(--main-bg-color);
  --cm-hint-bg-active: var(--pager-bg);

  --status-bar: var(--main-bg-color);

  --border-radius: 5px;

  --large-shadow: 0 10px 20px rgba(0,0,0,0.19),
                  0 6px 6px rgba(0,0,0,0.23);

  --small-shadow: 0 3px 6px rgba(0,0,0,0.16),
                  0 3px 6px rgba(0,0,0,0.23);
}

/*
  General note on this theme: the class "notebook" is used before several
  selectors to override collisions with the main stylesheet. Instead of adding
  !important on al the things, .notebook makes these selectors more specific.
*/

/* -------------------- */
/* Focus on Active Card */
/* -------------------- */

.cell,
.notebook .cell:focus,
.notebook .cell.focused
{
  box-shadow: var(--small-shadow);
}

.notebook .cell:hover
{
  box-shadow: var(--large-shadow);
}

.cell:focus .cm-s-composition.CodeMirror,
.cell.focused .cm-s-composition.CodeMirror,
.cell.focused .rendered
{
  background: var(--cell-bg);
}

.outputs,
.CodeMirror-lines
{
  opacity: 0.75;
}

.cell .rendered
{
  background: var(--cm-background);
}

.cell:focus .CodeMirror-lines,
.cell.focused .CodeMirror-lines,
.cell.focused .outputs,
.cell.focused .rendered
{
  opacity: 1;
  color: var(--main-fg-color);
}

.cell.focused .input-container
{
  box-shadow: var(--small-shadow);
}

/* -------------------------- */
/* CodeMirror Colors & Styles */
/* -------------------------- */

.cm-property
{
  color: #9CAFEA;
}

.cm-comment
{
  font-style: italic;
  opacity: 0.3;
}

.CodeMirror-selected,
.CodeMirror-focused .CodeMirror-selected
{
  background: rgba(0,0,0,0.3);
}

.cm-s-composition span.cm-string.cm-url
{
  color: var(--cm-link);
  opacity: 0.5;
}

/* Override Inline Styles */
/* These styles are used for code errors in the CodeMirror output */

span[style="color: rgb(187, 0, 0);"]
{
  color: var(--cm-keyword) !important;
  font-weight: bold;
}

span[style="color: rgb(0, 187, 0);"]
{
  color: var(--cm-string) !important;
}

span[style="color: rgb(0, 187, 187);"]
{
  color: var(--main-fg-color) !important;
}

span[style="color: rgb(0, 0, 187);"]
{
  color: inherit !important;
}

span[style="color: rgb(0, 255, 0);"]
{
  color: rgba(255,255,255,0.3) !important;
}

/* ---------------------- */
/* Markdown & Text Styles */
/* ---------------------- */

.outputs a,
.rendered a
{
  color: var(--cm-link);
}

.outputs > div
{
  background-color: rgba(29,49,76,0.7);
}

/* Tables */

th
{
  background: rgba(0,0,0,0.25);
}

tr:nth-of-type(even)
{
  background: rgba(255,255,255,0.075);
}

tr:hover
{
  background: rgba(0,0,0,0.4);
}

/* Blockquotes */

.notebook blockquote::before
{
  content: '';
  background-color: var(--cm-special);
  background-size: 10px 10px;
  background-image: linear-gradient(
                    45deg, 
                    rgba(27, 42, 62, 0.2) 25%, 
                    transparent 25%, 
                    transparent 50%, 
                    rgba(27, 42, 62, 0.2) 50%, 
                    rgba(27, 42, 62, 0.2) 75%, 
                    transparent 75%, 
                    transparent
                  );
  width: 0.75rem;
  height: 100%;
  display: block;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.notebook blockquote
{
  position: relative;
  border: 0;
  margin-left: 0;
  padding-left: 1.5rem;
}

/* Lists */

ul li
{
  list-style: none;
}

ul li::before
{
  content: '\f078';
  font: normal normal normal 16px/1 octicons;
  display: inline-block;
  text-decoration: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-indent: -1rem;
  color: var(--cm-special);
}

/* --------------------------- */
/* Create & Edit Cell Toolbars */
/* --------------------------- */

.notebook .cell-creator,
.cell-toolbar
{
  padding: 0.125em 0.25em;
  box-shadow: var(--small-shadow);
}

.notebook .cell-creator:hover,
.cell-toolbar:hover
{
  box-shadow: var(--large-shadow);  
}

.notebook .cell-creator
{
  background: var(--toolbar-bg);
  border-radius: var(--border-radius);
}

.cell-toolbar
{
  border-radius: 0 0 0 var(--border-radius);
  padding: 0.125em 0.25em;
}

/* ------------ */
/* Sticky Cells */
/* ------------ */

.notebook .sticky-cell-container
{
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: var(--large-shadow);
  z-index: 2000;
}

.sticky-cell-container > div ~ div
{
  margin-top: 2rem;
}

/* The container itself has a shadow, so let's kill the shadow on the last box */

.sticky-cell-container .cell:last-of-type
{
  box-shadow: none !important;
}

.sticky-cell-container .stickyButton span
{
  color: var(--cm-special);
}

/* ------------- */
/* Running Cells */
/* ------------- */

@keyframes striperunner
{
  from { background-position: 0 0; }
  to   { background-position: 60px 30px; }
}

/*
  This value is declared here to avoid a weird display blip where the size is
  set on .cell-running .prompt AFTER the gradient is applied, resulting in
  huge stripes
*/
.cell .prompt
{
  background-size: 30px 30px;
}

.cell-running .prompt
{
  background-image: linear-gradient(
                    45deg, 
                    rgba(255, 255, 255, 0.1) 25%, 
                    transparent 25%, 
                    transparent 50%, 
                    rgba(255, 255, 255, 0.1) 50%, 
                    rgba(255, 255, 255, 0.1) 75%, 
                    transparent 75%, 
                    transparent
                  );
  animation: striperunner 1.5s linear infinite;
}

/* ---------------- */
/* Dropdown Content */
/* ---------------- */

.notebook .dropdown__content {
  top: 0.75rem;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  box-shadow: var(--small-shadow);
}

.notebook .dropdown__content li {
  padding: 0.5rem;
}

.dropdown__content li:before {
  display: none;
}

/* -------------------- */
/* Miscellaneous Styles */
/* -------------------- */

body
{
  line-height: 1.3 !important;
}

.cell .prompt,
.notebook .cell-creator,
button,
a,
tr
{
  transition: all 0.1s ease-in-out;
}

/*custom scrollbar for notebook cells and hint box*/
div::-webkit-scrollbar, ul::-webkit-scrollbar {
      width: 11px;
      height: 11px;
} 
div::-webkit-scrollbar-track, ul::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
} 
div::-webkit-scrollbar-thumb, ul::-webkit-scrollbar-thumb {
      background-color: rgba(237, 243, 247, .6) 
}
div::-webkit-scrollbar-thumb:hover, ul::-webkit-scrollbar-thumb:hover {
      background-color: rgba(237, 243, 247, .7);
}
div::-webkit-scrollbar-thumb:active, ul::-webkit-scrollbar-thumb:active {
      background-color: rgba(237, 243, 247, .9);
}
div::-webkit-scrollbar-corner, ul::-webkit-scrollbar-corner {
      background-color:transparent;
}
