/*
  Globals
 */
pre
{
    font-size: 14px;
    line-height: 1.21429em;

    word-wrap: break-word;
}

body
{
    font-family: 'Source Sans Pro';
    font-size: 16px;
    line-height: 22px;

    color: rgb(51,51,51);
}

/* By default the notebook centers all images. */
img
{
    display: block;

    margin-right: auto;
    margin-left: auto;
}

/*
    Codemirror
 */

.CodeMirror
{
    font-family: 'Source Code Pro';
    font-size: 14px;
    line-height: 20px;

    height: auto;

    background: none;
}

.CodeMirror-scroll
{
    overflow-x: auto;
    overflow-y: hidden;
}

.CodeMirror-lines
{
    padding: .4em;
}

.CodeMirror-linenumber
{
    padding: 0 8px 0 4px;
}

.CodeMirror-gutters
{
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.CodeMirror pre
{
    padding: 0;

    border: 0;
    border-radius: 0;
}

/*
  Cell
 */

.cell
{
    margin: 10px;

    transition: all .1s ease-in-out;
}

.cell:hover
{
    box-shadow: 1px 1px 3px rgba(0,0,0,.12), -1px -1px 3px rgba(0,0,0,.12);
}

.cell.selected {
    box-shadow: 3px 3px 9px rgba(0,0,0,.12), -3px -3px 9px rgba(0,0,0,.12);
}

.cell:hover .input_area .cell_inputs,
.cell:active .input_area .cell_inputs,
.cell:focus .input_area .cell_inputs {
  background-color: #e2dfe3;
}

.cell_markdown
{
    padding: 10px 50px 10px 50px;
}

.cell_display
{
    padding: 10px 10px 10px 60px;
}

.code_cell .input_area
{
    display: flex;
    flex-direction: row;
}

.code_cell .input_area .cell_inputs
{
    font-family: monospace;
    font-size: 12px;

    width: 50px;
    padding: 10px 0;

    text-align: center;

    color: #8c8a8e;
    background-color: #fafafa;

    flex: 0 0 auto;
}

.code_cell .input_area .cell_editor
{
    flex: 1 1 auto;
}
